Courses/WCF/WCF.Sample6.KnownTypes/EmployeeServiceWeb/Service References/EmployeeService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cymessageboards.com/2015/10/06/PartTimeEmployee" elementFormDefault="qualified" targetNamespace="http://cymessageboards.com/2015/10/06/PartTimeEmployee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://cymessageboards.com/2015/10/06/Employee" />
  <xs:complexType name="PartTimeEmployee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://cymessageboards.com/2015/10/06/Employee" base="q1:Employee">
        <xs:sequence>
          <xs:element minOccurs="0" name="HourlyPay" type="xs:int" />
          <xs:element minOccurs="0" name="HoursWorked" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTimeEmployee" nillable="true" type="tns:PartTimeEmployee" />
</xs:schema>